{#
    Template pour l'action "Générer Mot de Passe Temporaire" dans la vue Liste.
    
    Variables :
    - action: Contient le tableau de configuration retourné par createActionGeneratePassword(object)
    - object: L'entité utilisateur
#}

{% if admin.isGranted('ROLE_FOUNDER',object) %}
    {% set action_config = admin.createActionGeneratePassword(object) %}
      {% set dataLoadingConfigForPassword ={
    
     }  %}

    {% if action_config is not null %}
        <a href="{{action_config.url}}"
            data-url="{{ action_config.url }}"
            data-user-id="{{ object.id }}"
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            class="btn btn-sm btn-secondary fw-bold  {{ action_config.extra_class }}" 
            title="{{ action_config.title|trans({}, 'SonataUserBundle',app.locale) }}"
            data-http-method-request-action="PATCH"
            data-event-name="create:action:generate:password:confirmed"
            {% if action_config.confirm is defined %}
                data-action-confirm="{{ action_config.confirm|trans({'%username%': object.username}, 'SonataUserBundle',app.locale) }}"
            {% endif %}
            
            target="{{ action_config.target }}" 
        > 
            <i class="{{ action_config.icon }}"></i>
            {{ action_config.label|trans({}, 'SonataUserBundle',app.locale) }}
            </a>
    {% endif %}
{% endif %}