{#

* This file is part of the project by AGBOKOUDJO Franck.
 *
 * (c) AGBOKOUDJO Franck <internationaleswebservices@gmail.com>
 * Phone: +229 01 67 25 18 86
 * LinkedIn: https://www.linkedin.com/in/internationales-web-apps-services-120520193/
 * Github: https://github.com/Agbokoudjo/
 * Company: INTERNATIONALES WEB APPS & SERVICES
 *
 * For more information, please feel free to contact the author.

#}

{% extends "base.html.twig" %}

{% block favicon %}
    <link rel="icon" href="{{ asset(sonata_config.logo) }}" width="100" height="100">
{% endblock %}

{% block stylesheets %}  
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{asset('bundles/sonatatwig/css/flashmessage.css')}}">
    <link rel="stylesheet" href="{{asset('styles/email.css')}}">
{% endblock %}

{% block title %}
   Compte rendue de verification d'email
{% endblock %}

{% block body %}
    <div class="message-box">
         {% block message_box_header %}
            <div class="message-header">
                {% if 'icon' == sonata_config.getOption('logo_content') or 'all' == sonata_config.getOption('logo_content') %}
                    <div class="message-logo">
                        <img  src="{{ asset('assets/' ~ sonata_config.logo,'admin') }}" alt="{{ sonata_config.title }}" class="img-fluid">
                    </div>
                {% endif %}
                {% if 'text' == sonata_config.getOption('logo_content') or 'all' == sonata_config.getOption('logo_content') %}
                        <h1 class="message-brand">{{ sonata_config.title }}</h1> 
                {% endif %}
            </div>
        {% endblock %}

        <div class="message-box-body">
            {% include 'bundles/SonataTwigBundle/FlashMessage/render.html.twig' %}

            {% if page_login_url is defined  %}
                 <a href="{{ path(page_login_url) }}">
                    {{ 'link_login'|trans({}, 'SonataUserBundle') }}
                </a>
            {% endif %}
           
            {% if page_redidrect_url is defined and page_label is defined %}
                 <a href="{{ path(page_redidrect_url) }}">
                    {{page_label}}
                </a>
            {% endif %}
        </div>
        <div class="message-box-footer">
            <p>© {{ 'now'|date('Y', 'UTC') }} {{NAME_SITE}}</p>
        </div>
    </div>
{% endblock %}